.textContainer {
    position: relative;
    left: 1000px;
    top: 220px;
    width: 370px;
    height: 485px;
    border-top: 2px solid rgba(102, 51, 153, 0.5);
    border-bottom: 2px solid #66339980;
    word-wrap: break-word;
    border-radius: 20px;
    z-index: 100;
    padding: 10px;
}

.container{
    width: 370px;
    max-height: 100%;
    overflow-y: scroll;
}

.personContainer {
    overflow-y: auto;
    border-radius: 10px;
    border: 2px solid rgba(102, 51, 153, 0.8);
    padding: 5px;
    margin-bottom: 10px;
    width: 348px;
    height: fit-content;
    color: white;
}

.imageAndName {
    float: left;
    margin-right: 15px;
}

.personImage {
    width: 150px;
    height: 150px;
}

.textContainer::content {
    z-index: 100;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    visibility: hidden;
}

::-webkit-scrollbar-track{
    visibility: hidden;
}