.textContainer {
    position: relative;
    left: 1000px;
    top: 250px;
    width: 370px;
    height: 430px;
    overflow-y: auto;
    word-wrap: break-word;
    border: 2px solid rgba(102, 51, 153, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(102, 51, 153, 0.2);
    z-index: 3;
    padding: 10px;
}

.personContainer {
    border-radius: 10px;
    border: 2px solid rgba(102, 51, 153, 0.8);
    padding: 5px;
    margin-bottom: 10px;
    width: 330px;
    height: auto;
}

.personImage {
    width: 100px;
    height: 100px;
}

.textContainer::content {
    z-index: 100;
}