.filterContainer{
    position: absolute;
    top: 200px;
    left: 550px;
    width: 265px;
    height: 50px;
    z-index: 101;
}

.inputText{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 200px;
    height: 30px;
    color: #29d0fd;
    background-color: black;
    border-radius: 5px;
    border: 1px solid red;
    outline: 0px;
}

.filterButton{
    position: absolute;
    top: 15px;
    left: 225px;
    width: 60px;
    height: 30px;
    color: #29d0fd;
    background-color: black;
    border: 1px solid red;
    font-size: 15px;
    outline: 0px;
}

.filterButton:hover{
    cursor: pointer;
}

.filterButton:active {
    font-size: 13px;
}